extends layout

block content
  .container
    .col-md-4
    .col-md-4
      h2 Times of India
  hr
  .container
    .col-md-3
    .col-md-6
      .panel.feed
        .panel-body
          h4 The contents of the Times of India are stored in the timesofindia.txt file in the current directory.
    .col-md-3
